{% extends 'base.html.twig' %}

{% block title %}Pomieszczenie{% endblock %}

{% block body %}
    <h1>Pomieszczenie</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for pokoj in pokojs %}
            <tr>
                <td>{{ pokoj.id }}</td>
                <td>{{ pokoj.nazwa }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('pokoj_show', {'id': pokoj.id}) }}">Pokaż</a>
                    <a class="btn btn-warning" href="{{ path('pokoj_edit', {'id': pokoj.id}) }}">Edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Brak znalezionych rekordów</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('pokoj_new') }}">Dodaj pokój</a>
{% endblock %}
