{% extends 'base.html.twig' %}

{% block title %}Kategoria index{% endblock %}

{% block body %}
    <h1>Kategoria index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa kategorii</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kategoria in kategorie %}
            <tr>
                <td>{{ kategoria.id }}</td>
                <td>{{ kategoria.nazwa }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('kategoria_show', {'id': kategoria.id}) }}">Pokaż</a>
                    <a class="btn btn-warning" href="{{ path('kategoria_edit', {'id': kategoria.id}) }}">Edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('kategoria_new') }}">Dodaj kategorie</a>
{% endblock %}
