{% extends 'base.html.twig' %}

{% block title %}Kategoria{% endblock %}

{% block body %}
    <h1>Kategoria</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kategoria.id }}</td>
            </tr>
            <tr>
                <th>Nazwa kategorii</th>
                <td>{{ kategoria.nazwa }}</td>
            </tr>
        </tbody>
    </table>

    <a class = "btn btn btn-warning" href="{{ path('kategoria_index') }}">Powrót do listy</a>

    <a class = "btn btn-success" href="{{ path('kategoria_edit', {'id': kategoria.id}) }}">Edytuj</a>

    {{ include('kategoria/_delete_form.html.twig') }}
{% endblock %}
