{{ form_start(form) }}
    {{ form_widget(form) }}
     Autor<select class="selectoption">
         {% for autor in autorzy %}
            <option value="{{ autor.id }}">{{ autor.imie}} {{ autor.nazwisko }}</option>
         {% endfor %}
     </select>
    <button class="btn btn-success">{{ button_label|default('Zapisz') }}</button>
{{ form_end(form) }}
